p {
    color: green;
    font-weight: bold;
    border: 1px solid black;
}

.highlights {
    background-color: yellow;
    padding: 5px;
}

#main-title {
    font-size: 24px;
    color: blue;
}

div p {
    color: purple;
}

.myButton {
    color: blueviolet;

}